<ul class="mainmenu menu">
	<li><a id="new" class="dialog-link" href="#">Neues Spiel</a></li>
	<li><a id="load" class="dialog-link" href="#">Spiel laden</a></li>
	<li><a id="save" class="dialog-link" href="#">Spiel speichern</a></li>
	<li><a id="resize" class="dialog-link" href="#">Spielfeldgr&ouml;&szlig;e &auml;ndern</a></li>
	<!-- <li><a id="recursion" href="#">Rekursionstiefe &auml;ndern</a></li> -->
</ul>

<ul class="mainmenu menu">
	<li>
		<div id="botRecBox">
			<label for="botRec"><h3>Rekursionstiefe</h3></label>
			<select name="botRec" id="botRec">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
			</select>
		</div>
	</li>
</ul>

<ul class="mainmenu menu">
	<li>
		<div id="">
			<label for="possess1"><h4>Ihr Fortschritt</h4></label>
			<div id="possess1"></div>
			<label for="possess2"><h4>Computer</h4></label>
			<div id="possess2"></div>
		</div>
	</li>
</ul>